#Main {
    flex-direction: row;
    position: relative;
    z-index: 2;
}

#SideBar {
    display: flex;
    order: 0;
    width: 325px;
    box-shadow: 0 4px 6px #868686;
    position: relative;
    z-index: 2;
}

#MyMap {
    display: flex;
    order: 1;
    width: calc(100% - 325px);
    box-shadow: -1px 4px 6px #868686;
}

@media screen and (max-width: 600px) {
    #Main {
        flex-direction: column;
        overflow: scroll;
    }

    #SideBar {
        width: 100%;
        min-height: 610px;
    }

    #MyMap {
        width: 100%;
        min-height: 80%;
    }

}