#Main {
    flex-direction: row;
}

#SideBar {
    display: flex;
    order: 0;
    width: 25%;
    box-shadow: -1px 4px 6px #868686;
}

#MyMap {
    display: flex;
    order: 1;
    width: 75%;
    box-shadow: -1px 4px 6px #868686;
    /*box-shadow: 4px 4px 8px 0 #828282;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}