#Footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    align-content: center;
    color: #325c73;
    background-color: #dddddd;
    vertical-align: middle;
}

.icon {
    height: 30px;
    border-radius: 30%;
    box-shadow: 2px 2px 3px #868686;
    margin: 0px 10px 0 10px;
    transition: transform .2s;
}

.icon:hover {
    transform: scale(1.08);
}

#copyright {
    position: absolute;
    left: 13px;
    font-family: "Lucida Sans", sans-serif;
    font-size: .8em;
}
