#Footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    color: #325c73;
    background-color: #dddddd;
    vertical-align: middle;
}

#icons {
    display: flex;
    flex-direction: row;
}

.icon {
    height: 30px;
    border-radius: 30%;
    box-shadow: 2px 2px 3px #868686;
    margin: 3px 10px 0 10px;
    transition: transform .2s;
}

.icon:hover {
    transform: scale(1.08);
}

#copyright {
    position: absolute;
    right: 1em;
    font-family: "Lucida Sans", sans-serif;
    font-size: .8em;
}

@media screen and (max-width: 600px) {
    #Footer {
        display: flex;
        flex-direction: column;
        align-items: normal;
        align-content: normal;
        vertical-align: middle;
    }

    #icons {
        order: 1;
    }

    #copyright {
        position: relative;
        right: auto;
        order: 2;
        padding-left: 10px;
        padding-top: 2px;
        font-size: .6em;
    }
}
