#App {
  flex-direction: column-reverse;
  height: 100vh;
  z-index: 2
}

#Main {
  display: flex;
  order: 1;
  height: calc(100% - 45px);
}

#Footer {
  display: flex;
  order: 0;
  height: 45px;
}

@media screen and (max-width: 600px) {
  #Main {
    height: calc(100% - 55px);
  }

  #Footer {
    height: 55px;
  }
}
