#SideBar {
    flex-direction: column;
    height: 100%;
}

#Title {
    /*display: flex;*/
    order: 0;
    /*height: 30%;*/
    background-color: #6ec36e;
    padding-bottom: 30px;
}

#LayerControl {
    /*display: flex;*/
    order: 1;
    /*height: 60%;*/
    background-color: lightblue;
    padding-bottom: 30px;
}