#SideBar {
    flex-direction: column;
    height: 100%;
    font-family: "Cambria", serif;
    color: #f7fdff;
    background-color: #40566b;
    overflow-y: scroll;
}

#Title {
    order: 0;
    padding-bottom: 30px;
}

#LayerControl {
    order: 1;
}